@import "../../../scss/index.scss";

.login-form{
    .ant-form-item:last-of-type{
        margin: 0;
    }

    &__input{
        .ant-input-prefix {
            span{
                font-size: 22px;
            }
        }

        input {
            font-size: 20px;
            padding: 20px 20px 20px 40px;
            height: 40px;
            &:focus{
                border-color: $primary-color;
                box-shadow: none;
            }
        }
    }
    &__button{
        width: 100%;
        font-size: 22px;
        background-color: $primary-color;
        color: $font-light;
        height: 52px;
        margin-top: 20px;

        &:hover{
            background-color: $primary-color-hover;
            color: $font-light;
        }

        &:focus, &:active {
            background-color: $primary-color;
            color: $font-light;
            border: 0;
        }
    }
}